# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # using major version aliases

  - 5.6
  # aliased to a recent 7.x version
    # aliased to a recent hhvm version
  - hhvm

# optionally set up exclusions and allowed failures in the matrix
matrix:
  exclude:
    - php: hhvm

  allow_failures:
    - php: 7.0
    - php: hhvm

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
script: phpunit --configuration phpunit_pgsql.xml --coverage-text
